.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  padding: 16px;
}

.sidenav-header {
  margin: 0;
  padding: 16px 0;
  font-weight: 500;
}

.add-brand-button {
  width: 100%;
  margin-bottom: 16px;
}
