<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button aria-label="Menu" *ngIf="showMenuButton">
      <mat-icon>menu</mat-icon>
    </button>
    
    <div class="header-content" fxLayout="row" fxLayoutAlign="start center">
      <span class="title" [attr.aria-label]="title">{{title}}</span>
      <span class="subtitle" *ngIf="subtitle" [attr.aria-label]="subtitle">{{subtitle}}</span>
    </div>

    <span fxFlex></span>
    
    <ng-content select="[header-actions]"></ng-content>
  </mat-toolbar-row>
</mat-toolbar>