<ng-container [ngSwitch]="variant">
  <button *ngSwitchCase="'basic'" mat-button [color]="color" [disabled]="disabled">
    <ng-content></ng-content>
  </button>
  <button *ngSwitchCase="'raised'" mat-raised-button [color]="color" [disabled]="disabled">
    <ng-content></ng-content>
  </button>
  <button *ngSwitchCase="'stroked'" mat-stroked-button [color]="color" [disabled]="disabled">
    <ng-content></ng-content>
  </button>
  <button *ngSwitchCase="'flat'" mat-flat-button [color]="color" [disabled]="disabled">
    <ng-content></ng-content>
  </button>
</ng-container>
